#enlace-aviso_privacidad {
    cursor: pointer;
    color: red;
}

.modal-img_header {
    height: 250px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

embed {
    width: 100%;
    height: 600px;
}

.texto_descripcion > h5,
.texto_descripcion > p > strong {
    color: rgb(12, 125, 201);
}

.texto_descripcion > p,
.texto_descripcion > ul > li {
    font-size: 10pt;
}